{
  "key-providers": {
    "tpm": {
      "cmd": {
        "path": "/tmp/tpm_oci_crypt",
        "args": [
          "--tpm-path", "127.0.0.1:2321",
          "--tpmURI", "tpm://ek?pub=$EKPUB"          
        ]
      }
    }
  }
}